apiVersion: apps/v1
kind: Deployment
metadata:
  name: login-deployment
  namespace: staging
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: login-app
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: login-app
    spec:
      containers:
        - name: login-container
          image: bashadockerhubdemo/maven-web-application:1
          ports:
            - containerPort: 8080

---
apiVersion: v1
kind: Service
metadata:
  name: login-service
  namespace: staging
spec:
  selector:
    app: login-app
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30086
