apiVersion: apps/v1
kind: Deployment
metadata:
  name: hpa-deployment
  namespace: staging
spec:
  replicas: 2
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: hpa-app
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  minReadySeconds: 10
  template:
    metadata:
      labels:
        app: hpa-app
    spec:
      containers:
        - name: hpa-container
          image: bashadockerhubdemo/loginapp:1
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "50m"
              memory: "100Mi"
            limits:
              cpu: "100m"
              memory: "500Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: hpa-service
  namespace: staging
spec:
  selector:
    app: hpa-app
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30087
